USE [master]
GO
/****** Object:  Database [Beelectronics]    Script Date: 14/05/2021 02:46:05 a. m. ******/
CREATE DATABASE [Beelectronics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Beelectronics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Beelectronics.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Beelectronics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Beelectronics_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Beelectronics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Beelectronics]
GO
/****** Object:  User [DESKTOP-HJADVRL\repl_snapshot]    Script Date: 14/05/2021 02:46:05 a. m. ******/
CREATE USER [DESKTOP-HJADVRL\repl_snapshot] FOR LOGIN [DESKTOP-HJADVRL\repl_snapshot] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DESKTOP-HJADVRL\repl_merge]    Script Date: 14/05/2021 02:46:05 a. m. ******/
CREATE USER [DESKTOP-HJADVRL\repl_merge] FOR LOGIN [DESKTOP-HJADVRL\repl_merge] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DESKTOP-HJADVRL\repl_logreader]    Script Date: 14/05/2021 02:46:05 a. m. ******/
CREATE USER [DESKTOP-HJADVRL\repl_logreader] FOR LOGIN [DESKTOP-HJADVRL\repl_logreader] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DESKTOP-HJADVRL\repl_distribution]    Script Date: 14/05/2021 02:46:05 a. m. ******/
CREATE USER [DESKTOP-HJADVRL\repl_distribution] FOR LOGIN [DESKTOP-HJADVRL\repl_distribution] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 14/05/2021 02:46:05 a. m. ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 14/05/2021 02:46:05 a. m. ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_F25A33A892104DF1906AFAEA75451244]    Script Date: 14/05/2021 02:46:05 a. m. ******/
CREATE ROLE [MSmerge_F25A33A892104DF1906AFAEA75451244]
GO
ALTER ROLE [db_owner] ADD MEMBER [DESKTOP-HJADVRL\repl_snapshot]
GO
ALTER ROLE [db_owner] ADD MEMBER [DESKTOP-HJADVRL\repl_merge]
GO
ALTER ROLE [db_owner] ADD MEMBER [DESKTOP-HJADVRL\repl_logreader]
GO
ALTER ROLE [db_owner] ADD MEMBER [DESKTOP-HJADVRL\repl_distribution]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_F25A33A892104DF1906AFAEA75451244]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 14/05/2021 02:46:06 a. m. ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14/05/2021 02:46:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[idCategory] [int] NOT NULL,
	[nameCategory] [varchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[idCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 14/05/2021 02:46:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[idProduct] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[nameProduct] [varchar](50) NULL,
	[stockProduct] [int] NOT NULL CHECK (stockProduct >= 0),
	[imgProduct] [varchar](max) NULL,
	[priceProduct] [int] NULL,
	[idCategory] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_Products2] PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Records]    Script Date: 14/05/2021 02:46:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Records](
	[idRecord] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[idUser] [int] NOT NULL,
	[nameProduct] [varchar](50) NULL,
	[priceProduct] [int] NULL,
	[qtyProduct] [int] NULL,
	[dateRecord] [date] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_Records] PRIMARY KEY CLUSTERED 
(
	[idRecord] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14/05/2021 02:46:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[nameUser] [varchar](50) NULL,
	[passUser] [varchar](50) NULL,
	[idUserType] [int] NOT NULL,
	[imgUser] [varchar](max) NULL,
	[statusUser] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 14/05/2021 02:46:06 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[idUserType] [int] NOT NULL,
	[nameUserType] [varchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[idUserType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([idCategory], [nameCategory], [rowguid]) VALUES (1, N'Accesories', N'722d53fa-fcae-eb11-855d-f8bc129a0902')
INSERT [dbo].[Categories] ([idCategory], [nameCategory], [rowguid]) VALUES (2, N'Audio', N'732d53fa-fcae-eb11-855d-f8bc129a0902')
INSERT [dbo].[Categories] ([idCategory], [nameCategory], [rowguid]) VALUES (3, N'Components', N'742d53fa-fcae-eb11-855d-f8bc129a0902')
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Records] ON 

INSERT [dbo].[Records] ([idRecord], [idUser], [nameProduct], [priceProduct], [qtyProduct], [dateRecord], [rowguid]) VALUES (1, 8, N'Product 1', 500, 2, CAST(N'2021-05-06' AS Date), N'782d53fa-fcae-eb11-855d-f8bc129a0902')
INSERT [dbo].[Records] ([idRecord], [idUser], [nameProduct], [priceProduct], [qtyProduct], [dateRecord], [rowguid]) VALUES (3, 8, N'Product 1', 100, 5, CAST(N'2021-05-06' AS Date), N'792d53fa-fcae-eb11-855d-f8bc129a0902')
INSERT [dbo].[Records] ([idRecord], [idUser], [nameProduct], [priceProduct], [qtyProduct], [dateRecord], [rowguid]) VALUES (4, 8, N'Product 2', 100, 5, CAST(N'2021-05-06' AS Date), N'7a2d53fa-fcae-eb11-855d-f8bc129a0902')
SET IDENTITY_INSERT [dbo].[Records] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[UserTypes] ([idUserType], [nameUserType], [rowguid]) VALUES (1, N'Admin', N'802d53fa-fcae-eb11-855d-f8bc129a0902')
INSERT [dbo].[UserTypes] ([idUserType], [nameUserType], [rowguid]) VALUES (2, N'Storer', N'812d53fa-fcae-eb11-855d-f8bc129a0902')
INSERT [dbo].[UserTypes] ([idUserType], [nameUserType], [rowguid]) VALUES (3, N'Client', N'822d53fa-fcae-eb11-855d-f8bc129a0902')
GO
/****** Object:  Index [MSmerge_index_661577395]    Script Date: 14/05/2021 02:46:06 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_661577395] ON [dbo].[Categories]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_869578136]    Script Date: 14/05/2021 02:46:06 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_869578136] ON [dbo].[Products]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_1205579333]    Script Date: 14/05/2021 02:46:06 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_1205579333] ON [dbo].[Records]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_933578364]    Script Date: 14/05/2021 02:46:06 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_933578364] ON [dbo].[Users]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_629577281]    Script Date: 14/05/2021 02:46:06 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_629577281] ON [dbo].[UserTypes]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [MSmerge_df_rowguid_0D60089FA69D4361B41A33A641D1DDB0]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [MSmerge_df_rowguid_8C72BFD15B514E2C9AADD64581151983]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Records] ADD  CONSTRAINT [MSmerge_df_rowguid_2FF43F5989D5406C93F959E18AE241D0]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [MSmerge_df_rowguid_00C4D5C0C66F464B9E4DE2DAB4EEF360]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[UserTypes] ADD  CONSTRAINT [MSmerge_df_rowguid_08028911F5CE40EF9ACBBBF0F7049CFD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products2_Categories] FOREIGN KEY([idCategory])
REFERENCES [dbo].[Categories] ([idCategory])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products2_Categories]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserTypes] FOREIGN KEY([idUserType])
REFERENCES [dbo].[UserTypes] ([idUserType])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserTypes]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_597ED8C8_4DA7_47C7_AE9E_F45B04F597F5] CHECK NOT FOR REPLICATION (([idProduct]>(1124) AND [idProduct]<=(2124) OR [idProduct]>(2124) AND [idProduct]<=(3124)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [repl_identity_range_597ED8C8_4DA7_47C7_AE9E_F45B04F597F5]
GO
ALTER TABLE [dbo].[Records]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_32B1BB68_B6FE_4CCB_B353_7607ED311FA3] CHECK NOT FOR REPLICATION (([idRecord]>(9) AND [idRecord]<=(1009) OR [idRecord]>(1009) AND [idRecord]<=(2009)))
GO
ALTER TABLE [dbo].[Records] CHECK CONSTRAINT [repl_identity_range_32B1BB68_B6FE_4CCB_B353_7607ED311FA3]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_0CE69F9F_627F_45F5_8556_CEBBFA85CC1F] CHECK NOT FOR REPLICATION (([idUser]>(1073) AND [idUser]<=(2073) OR [idUser]>(2073) AND [idUser]<=(3073)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [repl_identity_range_0CE69F9F_627F_45F5_8556_CEBBFA85CC1F]
GO
USE [master]
GO
