.cart__link {
    background: #333333;
    padding: 10px;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #f4f4f4;
}

a:hover {
    text-decoration: none;
    color: #f4f4f4;
}

.cart__link:hover {
    background: #d1ce26;
    color: #171717;
}

.cartlogo__badge {
    width: 30px;
    height: 30px;
    background: #f4f4f4;
    border-radius: 50%;
    margin-left: 8px;
    color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
}